body {
  margin: 0;
  padding: 0;

  & .sidebar {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 500px;
    height: 90%;
    background-color: #fff;
    color: black;
    padding: 20px;
    display: none;
    overflow: auto;

    & .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    & .details {
      & .image-container {
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: center;

        & .mealImage {
          width: 90%;
          border-radius: 8px;
        }
      }
    }
  }
}
